.box-layout {
  background: url('/images/congruent_pentagon_light.png');
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-layout__box {
  background: fade-out(white, .15);
  border-radius: 3px;
  border: 1px solid darken($off-white, 10%);
  text-align: center;
  width: 25rem;
  padding: $l-size $m-size;
}

.box-layout__title {
  margin: 0 0 $m-size 0;
  line-height: 1;
}