.content-container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 $m-size;
}

.content-container--narrow {
  @extend .content-container;
  max-width: 45rem;
}

.mobile-full-width {
  @media (max-width: $tablet-breakpoint) {
    padding: 0;
  }
}

.background-box {
  background: rgba(white, .7);
  border: 1px solid darken(white, 10%);
  padding: $s-size;

  @media (min-width: $desktop-breakpoint) {
    padding: $m-size;
  }
}