.header {
  background-color: $dark-primary;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__title {
  color: white;
  text-decoration: none;
  h1 {
    font-size: $font-l-size;
    margin: 0;

    @media (min-width: $desktop-breakpoint) {
      font-size: $font-xxl-size;
    }
  }
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0;

  @media (min-width: $tablet-breakpoint) {
    padding: $s-size 0;
  }
}