.header {
  background-color: rgba(0, 105, 69, 0.5);
}

.header__title {
  color: white;
  text-decoration: none;
  h1 {
    font-size: $font-l-size;
    margin: 0;

    @media (min-width: $desktop-breakpoint) {
      font-size: $font-xxl-size;
    }
  }
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0;

  @media (min-width: $tablet-breakpoint) {
    padding: $s-size 0;
  }
  
  @media (min-width: $desktop-breakpoint) {
    padding: $m-size 0;
  }
}