.header {
  background-color: $dark-primary;
}

.header__title {
  color: white;
  text-decoration: none;
  h1 {
    font-size: $font-l-size;
    margin: 0;

    @media (min-width: $desktop-breakpoint) {
      font-size: $font-xxl-size;
    }
  }
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  @media (min-width: $desktop-breakpoint) {
    padding: $m-size 0;
  }
}