.text-input {
  border: 1px solid #cacccd;
  font-size: $font-m-size;
  font-weight: 300;
  height: 40px;
  padding: $s-size;
}

.text-input--narrow {
  max-width: 210px;
}

.select {
  @extend .text-input;
  width: 100%;
  background: white;
  border-radius: 0;
}

.textarea {
  @extend .text-input;
  height: 5rem;

  @media (min-width: $desktop-breakpoint) {
    height: 10rem;
  }
}