.text-input {
  background: white;
  border: 1px solid #cacccd;
  font-size: $font-m-size;
  font-weight: 300;
  height: 50px;
  padding: $s-size;
}

.text-input--narrow {
  width: 324px;

  @media (min-width: $tablet-breakpoint) {
    width: 30rem;
  }

  @media (min-width: $desktop-breakpoint) {
    max-width: 210px;
  }
}

.select {
  @extend .text-input;
  width: 100%;
  border-radius: 0;
}

.textarea {
  @extend .text-input;
  height: 5rem;

  @media (min-width: $desktop-breakpoint) {
    height: 10rem;
  }
}