.page-header {
  padding: $m-size 0;

  @media (min-width: $desktop-breakpoint) {
    padding: $l-size 0;
  }
}

.page-header__title {
  font-size: $font-l-size;
  font-weight: 300;
  margin: 0;
  span {
    font-weight: bold;
  }

  @media (min-width: $desktop-breakpoint) {
    font-size: $font-xl-size;
  }
}

.page-header__action {
  margin: $m-size auto 0 auto;
}