.page-header {
  padding: $m-size 0;

  @media (min-width: $tablet-breakpoint) {
    padding: $l-size 0 $m-size 0;
  }
}

.page-header__title {
  font-size: $font-l-size;
  font-weight: 300;
  margin: 0;
  text-align: center;
  
  span {
    font-weight: bold;
  }

  @media (min-width: $tablet-breakpoint) {
    font-size: $font-xl-size;
    text-align: left;
  }
}