* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  overflow: hidden;
}

body {
  background: url('/images/congruent_pentagon_light.png');
  color: $dark-gray;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  height: 100%;
  line-height: 1.6;
  overflow: auto;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

.hidden {
  display: none;

  @media (min-width: $tablet-breakpoint) {
    display: block;
  }
}

.visible {
  display: block;
}